$defaultColor: #8c8c8c;
$primary: #638c14;
$secondary: #FFFFFF;
$success: #184600;
$info: #FFFFFF;
$warning: #FFFFFF;
$danger: #520000;
$light: #d0d0d0;
$muted: #484848;

$appBorderColor: #3a3a3a;

$layerLauncherWindowHeaderLogo: 1001;
$layerWindowHandler: 1000;


$layerWindowContentShadow: 50;
