*, ::after, ::before {
  box-sizing: border-box;
}

html, body {
  background: transparent;
  margin: 0;
}

body {
  color: $defaultColor;
  text-shadow: #000 1px 1px 0;
}

::-webkit-scrollbar {
    display: none;
}

* {
  font-family: 'Kanit', sans-serif;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.h1, h1 {
  font-size: 2.5rem;
}
.h2, h2 {
  font-size: 2rem;
}
.h3, h3 {
  font-size: 1.75rem;
}
.h4, h4 {
  font-size: 1.5rem;
}
.h5, h5 {
  font-size: 1.25rem;
}
.h6, h6 {
  font-size: 1rem;
}

#app > .window {
  border: 1px solid $appBorderColor;
  background: #000 url('~@/assets/bg-texture.png') repeat;
}

.icon-error {
  @extend .fa;
  @extend .fa-exclamation-triangle;

  color: #d81818;
  text-shadow: #000 1px 1px 0;
}
