.login-window {
  background: #000 url('~@/assets/bg-texture.png') repeat;
}

.login-window .window-content {
  padding: 10px;
  user-select: none;
}

.logo {
  width: 180px;
  height: 166px;
  margin: 0 auto;
  background: url('~@/assets/logo.png') no-repeat;
  background-size: contain;
  opacity: 0.85;
  filter: contrast(112%);
}

.title {
  color: #4d4d4d;
  text-shadow: #000000 1px 1px 0px;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  opacity: 0.7;
  text-transform: uppercase;
  margin: -4px 0 18px -4px;
}

.form {
  position: relative;
  padding: 0 5px 10px 5px;

  .form-spinner {
    display: none;
  }

  &.waiting {
    &::before {
      content: ' ';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: transparent;
      z-index: 8;
    }

    .form-spinner {
      display: block;
      position: absolute;
      color: #638c14;
      top: 40px;
      width: 2.5rem;
      height: 2.5rem;
      left: -1.25rem;
      z-index: 9;
      margin-left: 50%;
    }

    & > .form-content {
      opacity: 0.3;
    }
  }
}

.form-checkbox {
  margin-left: 4px;
  line-height: 18px;

  .checkbox {
    width: 19px;
    height: 19px;
    display: inline-block;
    padding: 1px 0 0 1px;
    background: #000;
    float: left;
    margin-right: 3px;
    border-radius: 5px;
    box-shadow: inset #252525 -1px -1px 0px 0px;
    cursor: pointer;

    i {
      font-size: 16px;
      display: block;
      color: #0f400a;
    }
  }

  label {
    cursor: pointer;
    color: #454545;
    font-size: 14px;
    vertical-align: middle;
    margin: 0;
  }

  input {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;

    &:focus + .checkbox {
      box-shadow: inset #252424 -1px -1px 0px 0px, #888 0px 0px 2px 0px;
    }
  }
}

input, input:focus {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: inset rgba(255, 255, 255, 0.28) 0px 0px 6px -2px;
  font-weight: 200;
  color: #d0d0d0;
}

input:focus {
  box-shadow: inset rgba(255, 255, 255, 0.68) 0px 0px 6px -2px;
}

.btn-submit {
  font-size: 18px;
  font-weight: 300;
  display: block;
  margin: 0 auto;
  padding: 6px 65px;
  color: #d6d6d6;

  &:hover, &:focus, &:active {
    color: #fff;
  }
}

.link-buttons {
  text-align: center;
}

.btn-link {
  position: relative;
  color: #595959;
  font-weight: 300;
  font-size: 13px;
  background: #000;

  &:hover, &:focus, &:active {
    color: #969696;
  }

  &.btn-link-forum {
    width: 122px;
    height: 33px;
  }

  &.btn-link-recovery {
    width: 160px;
    height: 33px;
  }

  & > .btn-spinner {
    display: none;
  }

  &:disabled {
    & > .btn-content {
      display: none;
    }

    & > .btn-spinner {
      display: block;
      position: absolute;
      width: 1.4rem;
      height: 1.4rem;
      top: calc(50% - 0.7rem);
      left: calc(50% - 0.7rem);
    }
  }
}

.btn-show-password {
  position: absolute;
  top: 0;
  right: 0;
  outline: 0;
  color: #444343;
  box-shadow: none;

  &:hover, &:focus, &:active {
    color: #808080;
  }
}

hr {
  margin: 9px 0;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  border-bottom: 1px solid rgb(0, 0, 0);
}

label {
  color: #fff;
}
