@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 100;
  src: local('Kanit Thin Italic'), local('Kanit-ThinItalic'), url('~@/assets/kanit/Kanit-ThinItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 200;
  src: local('Kanit ExtraLight Italic'), local('Kanit-ExtraLightItalic'), url('~@/assets/kanit/Kanit-ExtraLightItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 300;
  src: local('Kanit Light Italic'), local('Kanit-LightItalic'), url('~@/assets/kanit/Kanit-LightItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 400;
  src: local('Kanit Italic'), local('Kanit-Italic'), url('~@/assets/kanit/Kanit-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 500;
  src: local('Kanit Medium Italic'), local('Kanit-MediumItalic'), url('~@/assets/kanit/Kanit-MediumItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 600;
  src: local('Kanit SemiBold Italic'), local('Kanit-SemiBoldItalic'), url('~@/assets/kanit/Kanit-SemiBoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 700;
  src: local('Kanit Bold Italic'), local('Kanit-BoldItalic'), url('~@/assets/kanit/Kanit-BoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 800;
  src: local('Kanit ExtraBold Italic'), local('Kanit-ExtraBoldItalic'), url('~@/assets/kanit/Kanit-ExtraBoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 900;
  src: local('Kanit Black Italic'), local('Kanit-BlackItalic'), url('~@/assets/kanit/Kanit-BlackItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 100;
  src: local('Kanit Thin'), local('Kanit-Thin'), url('~@/assets/kanit/Kanit-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 200;
  src: local('Kanit ExtraLight'), local('Kanit-ExtraLight'), url('~@/assets/kanit/Kanit-ExtraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  src: local('Kanit Light'), local('Kanit-Light'), url('~@/assets/kanit/Kanit-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local('Kanit Regular'), local('Kanit-Regular'), url('~@/assets/kanit/Kanit-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  src: local('Kanit Medium'), local('Kanit-Medium'), url('~@/assets/kanit/Kanit-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 600;
  src: local('Kanit SemiBold'), local('Kanit-SemiBold'), url('~@/assets/kanit/Kanit-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  src: local('Kanit Bold'), local('Kanit-Bold'), url('~@/assets/kanit/Kanit-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 800;
  src: local('Kanit ExtraBold'), local('Kanit-ExtraBold'), url('~@/assets/kanit/Kanit-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 900;
  src: local('Kanit Black'), local('Kanit-Black'), url('~@/assets/kanit/Kanit-Black.woff2') format('woff2');
}
