.user-wrapper {
  .dropdown-icon {
    color: #585858;
    z-index: 2;
    margin: 0 10px 0 10px;
  }

  .dropdown-options {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    background: #0d0d0d;
    border-radius: 5px;

    .list-group {
      margin-top: 50px;

      .list-group-item {
        color: #8b8b8b;
        background-color: #0f0f0f;
        border: 0;
        border-top: 1px solid #202020;

        &:first-child {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        &:hover, &:focus {
          background-color: #1f1f1f;
          color: #bfbfbf;
          border-color: #3e3e3e;
        }
      }
    }
  }
}
