.user-wrapper {
  .dropdown-icon {
    color: #585858;
    z-index: 2;
    margin: 0 10px 0 10px;
  }

  .dropdown-options {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    .list-group {
      margin-top: 50px;
      background: #000 url('~@/assets/button-texture.png');

      .list-group-item {
        color: #8b8b8b;
        background: rgba(0, 0, 0, 0.7);
        border: 0;
        border-top: 1px solid #1b1b1b;

        &:first-child {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        &:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        &:hover, &:focus {
          color: #bfbfbf;
          background: rgba(20, 20, 20, 0.8);
        }
      }
    }
  }
}
